In [4]:
############# EXTRACT AND UNIFY INFORMATION OF RAW COUNTS OF TILS ###########################
# Import libraries to work
import pandas as pd
import numpy as np

############# LP samples ################
# Read the excel file
file1 = '/home/vant/TFM/Raw counts (no scores)/Results_ALEX_all.xlsx'

# Extract sheets with useful information
hoja2 = pd.read_excel(file1, sheet_name=0)  # First sheet (index starts at 0)
hoja4 = pd.read_excel(file1, sheet_name=1)  # Second sheet

# Verify column names to identify 'sample' and relevant count columns
print(hoja2.columns)
print(hoja4.columns)

# Select 'sample' and 'count_ep_caleiras' columns from sheet 2
df_hoja2 = hoja2[['sample', 'count_ep_caleiras']]

# Select 'sample' and 'count_tu_caleiras' columns from sheet 4
df_hoja4 = hoja4[['sample', 'count_tu_caleiras']]

# Merge the two dataframes using the 'sample' column as the key, keeping all data (outer join)
df_final = pd.merge(df_hoja2, df_hoja4, on='sample', how='outer')

# Sort the dataframe by the 'sample' column to align better the data
df_final_sorted = df_final.sort_values(by='sample')

# Drop any rows where 'sample' is completely NaN (empty rows at the bottom)
df_final_cleaned = df_final_sorted.dropna(subset=['sample'])
df_final_cleaned.columns=['Sample','Count_ep','Count_tu']

# Display the cleaned dataframe
print(df_final_cleaned)

# Save the cleaned dataframe to a new Excel file
#df_final_cleaned.to_excel("Resultado_alex_cleaned.xlsx", index=False)

Index(['sample', 'count_ep_caleiras', 'score_ep_caleiras'], dtype='object')
Index(['sample', 'count_tu_caleiras', 'score_tu_caleiras'], dtype='object')
        Sample Count_ep Count_tu
1114  03B07829        0        2
1115  07B23784        0        9
1116  10B36563        1        9
1117  11B23809        4        5
1118   11B5978        1       47
...        ...      ...      ...
1108      LP94        5       25
1109      LP95        1        1
1110      LP96        4        5
1111      LP97       ne      NaN
1112      LP98       14       55

[96 rows x 3 columns]

In [5]:
########## MDA samples #################

file2='/home/vant/TFM/Raw counts (no scores)/Results_MDA.xlsx'

# Read sheets 3 and 5
sheet3 = pd.read_excel(file2, sheet_name=2)  # Third sheet (index 2)
sheet5 = pd.read_excel(file2, sheet_name=4)  # Fifth sheet (index 4)

# Select relevant columns 'Sample' and 'Count_ep' from sheet 3
df_sheet3 = sheet3[['Sample', 'Count_ep']]

# Select relevant columns 'Sample' and 'Count_tu' from sheet 5
df_sheet5 = sheet5[['Sample', 'Count_tu']]

# Merge the dataframes based on 'Sample' using an outer join to include all rows
df_merged = pd.merge(df_sheet3, df_sheet5, on='Sample', how='outer')

# Strip leading/trailing spaces from the 'Sample' column
df_merged['Sample'] = df_merged['Sample'].str.strip()

# Convert 'Count_ep' and 'Count_tu' to numeric values, managing non-numeric data
df_merged['Count_ep'] = pd.to_numeric(df_merged['Count_ep'], errors='coerce')
df_merged['Count_tu'] = pd.to_numeric(df_merged['Count_tu'], errors='coerce')

# Group by 'Sample' and get the maximum values of 'Count_ep' and 'Count_tu' (including 9)
df_final = df_merged.groupby('Sample').agg({
    'Count_ep': 'max',  # Calculate the maximum, including the value 9
    'Count_tu': 'max'   # Same for 'Count_tu'
}).reset_index()

# Filter rows where the 'Sample' column starts with 'MDA'
df_final_filtered = df_final[df_final['Sample'].str.startswith('MDA')]

# Display the final cleaned dataframe
print(df_final_filtered)

# Save the final dataframe to a new Excel file
#df_final_filtered.to_excel('filtered_results_max_mda.xlsx', index=False)

          Sample  Count_ep  Count_tu
4           MDA1       2.0       2.0
5          MDA10       5.0     114.0
6          MDA11      24.0      82.0
7          MDA12       2.0       6.0
8          MDA13       3.0      20.0
9          MDA14       7.0      69.0
10         MDA15       2.0      13.0
11         MDA16       3.0       4.0
12         MDA17       2.0      59.0
13         MDA18       5.0      22.0
14         MDA19       3.0      12.0
15          MDA2      23.0     103.0
16         MDA20       0.0      11.0
17         MDA21      14.0      31.0
18         MDA22       0.0       7.0
19         MDA23       1.0       2.0
20         MDA24       2.0      13.0
21         MDA25      23.0      62.0
22         MDA26       0.0       1.0
23         MDA27     113.0     212.0
24         MDA28      24.0      61.0
25         MDA29       4.0       9.0
26          MDA3       1.0       3.0
27         MDA30       0.0       1.0
28         MDA31       2.0       4.0
29         MDA32       3.0       5.0
30         MDA33       2.0       8.0
31         MDA34       2.0       9.0
32         MDA35       1.0      49.0
33         MDA36       0.0       0.0
34         MDA37       0.0       2.0
35         MDA38       9.0      87.0
36         MDA39       1.0       3.0
37          MDA4       8.0      30.0
38         MDA40       7.0      35.0
39         MDA41       0.0      29.0
40         MDA42      68.0     115.0
41         MDA43       1.0      87.0
42         MDA44     174.0     279.0
43         MDA45       5.0       6.0
44         MDA46      48.0     128.0
45         MDA47      50.0     129.0
46         MDA48       0.0       0.0
47         MDA49       0.0       4.0
48          MDA5       9.0      28.0
49         MDA50      78.0     220.0
50  MDA51_T1_CCC      43.0      63.0
51   MDA51_T2_EC       2.0      26.0
52          MDA6       0.0       3.0
53          MDA7      12.0      42.0
54          MDA8       NaN       NaN
55          MDA9      25.0     210.0

In [6]:
############ OVE samples from file 'Results_TA269.xlsx' ##############

# Load the Excel file
file3 ='/home/vant/TFM/Raw counts (no scores)/Results_TA269.xlsx'
# Read sheets 3 and 5
hoja7 = pd.read_excel(file3, sheet_name=6)  # 7th sheet
print(hoja7.columns)
hoja7.columns=['Sample','Count_ep','Count_tu','Col4', 'Col5', 'Col6', 'Col7'] 
print(hoja7.columns)

Index(['Unnamed: 0', 'Count_ep', 'Count_tu', 'Score_ep', 'Score_tu',
       'Final_Score_ep', 'Final_score_tu'],
      dtype='object')
Index(['Sample', 'Count_ep', 'Count_tu', 'Col4', 'Col5', 'Col6', 'Col7'], dtype='object')

In [7]:
############ OVE samples ##############

# Select columns of interest
df_filtered = hoja7[['Sample', 'Count_ep', 'Count_tu']].copy() 

# Eliminate spaces 
df_filtered['Sample'] = df_filtered['Sample'].str.strip()
 
# Convert 'Count_ep' and 'Count_tu' to numeric and manage no numeric values
df_filtered.loc[:, 'Count_ep'] = pd.to_numeric(df_filtered['Count_ep'], errors='coerce')  # Use .loc
df_filtered.loc[:, 'Count_tu'] = pd.to_numeric(df_filtered['Count_tu'], errors='coerce')  # Use .loc

# Group by 'Sample' and get the maximum values of 'Count_ep' and 'Count_tu' (including 9)
df_final1 = df_filtered.groupby('Sample').agg({
    'Count_ep': 'max',  # Calculate the maximum, including the value 9
    'Count_tu': 'max'   # Same for 'Count_tu'
}).reset_index()

# Filter rows
df_final1_filtered = df_final1[df_final1['Sample'].str.startswith('OVE')]

# Show
print(df_final1_filtered)

# Save
#df_final1_filtered.to_excel('filtered_results_max_ove1.xlsx', index=False)

   Sample Count_ep Count_tu
0   OVE10     11.0    108.0
1   OVE13      4.0     11.0
2   OVE14      NaN      NaN
3   OVE16      5.0     79.0
4   OVE17      2.0      2.0
5   OVE19     22.0    303.0
6   OVE24     17.0    146.0
7   OVE27      3.0     10.0
8   OVE28     23.0    111.0
9   OVE31      1.0      0.0
10  OVE34      0.0      0.0
11  OVE35      0.0      0.0
12  OVE37     10.0     37.0
13  OVE38    195.0    223.0
14  OVE39      0.0      1.0
15   OVE4      4.0     14.0
16  OVE41     12.0     38.0
17  OVE42     14.0     13.0
18  OVE43     16.0     43.0
19  OVE44      6.0     26.0
20  OVE48      1.0      3.0
21  OVE49      0.0      3.0
22   OVE6      0.0      4.0

In [8]:
############ OVE samples from file 'Results_TA270.xlsx' ##############

# Load the Excel file
file4 ='/home/vant/TFM/Raw counts (no scores)/Results_TA270.xlsx'
# Read sheets 3 and 5
sheet5= pd.read_excel(file4, sheet_name=4)  # 5th sheet (index 4)

# Select columns of interest
df_filtered1 = sheet5[['Sample', 'Count_ep', 'Count_tu']].copy() 

# Eliminate spaces 
df_filtered1['Sample'] = df_filtered1['Sample'].str.strip()
 
# Convert 'Count_ep' and 'Count_tu' to numeric and manage no numeric values
df_filtered1.loc[:, 'Count_ep'] = pd.to_numeric(df_filtered1['Count_ep'], errors='coerce')  
df_filtered1.loc[:, 'Count_tu'] = pd.to_numeric(df_filtered1['Count_tu'], errors='coerce') 

# Group by 'Sample' and get the maximum values of 'Count_ep' and 'Count_tu' (including 9)
df_final2 = df_filtered1.groupby('Sample').agg({
    'Count_ep': 'max',  # Calculate the maximum, including the value 9
    'Count_tu': 'max'   # Same for 'Count_tu'
}).reset_index()

# Filter rows
df_final2_filtered = df_final2[df_final2['Sample'].str.startswith('OVE')]

# Show
print(df_final2_filtered)

# Save
#df_final2_filtered.to_excel('filtered_results_max_ove2.xlsx', index=False)

    Sample Count_ep  Count_tu
0   OVE104      4.0       9.0
1   OVE108      0.0       4.0
2    OVE57     11.0      31.0
3    OVE58      4.0      15.0
4    OVE59      0.0       3.0
5    OVE61      9.0      37.0
6    OVE63      NaN       NaN
7    OVE64      2.0       7.0
8    OVE72     49.0     160.0
9    OVE74      2.0       6.0
10   OVE76      NaN       NaN
11   OVE77      NaN      11.0
12   OVE80      2.0      12.0
13   OVE83      4.0       6.0
14   OVE84    172.0     327.0
15   OVE85      9.0      14.0
16   OVE86     45.0     123.0
17   OVE90      7.0      17.0
18   OVE92      0.0       3.0
19   OVE93     46.0      95.0
20   OVE94      1.0       5.0
21   OVE96      0.0       1.0

In [9]:
######### Samples from 'Results_TA280.xlsx'  ##############

# Load the Excel file
file5 ='/home/vant/TFM/Raw counts (no scores)/Results_TA280.xlsx'
# Read sheets 3 and 5
sheet4= pd.read_excel(file5, sheet_name=4)  # 5th sheet (index 4)

# Select columns of interest
df_filtered2 = sheet4[['Sample', 'Count_ep', 'Count_tu']].copy() 

# Eliminate spaces 
df_filtered2['Sample'] = df_filtered2['Sample'].str.strip()
 
# Convert 'Count_ep' and 'Count_tu' to numeric and manage no numeric values
df_filtered2.loc[:, 'Count_ep'] = pd.to_numeric(df_filtered2['Count_ep'], errors='coerce')  # Usar .loc
df_filtered2.loc[:, 'Count_tu'] = pd.to_numeric(df_filtered2['Count_tu'], errors='coerce')  # Usar .loc

# Group by 'Sample' and get the maximum values of 'Count_ep' and 'Count_tu' (including 9)
df_final3 = df_filtered2.groupby('Sample').agg({
    'Count_ep': 'max',  # Calculate the maximum, including the value 9
    'Count_tu': 'max'   # Same for 'Count_tu'
}).reset_index()

# Show
print(df_final3)

      Sample Count_ep Count_tu
0      07T25      0.0      0.0
1      07T29      NaN      NaN
2     08T107    105.0    146.0
3      08T94      4.0     19.0
4      08T96      6.0     14.0
5    09T-114     22.0     52.0
6  09T-117-T      NaN      NaN
7    09T-119      NaN      NaN
8    09T-134      1.0      4.0
9      09T45      8.0     17.0

In [10]:
######### Samples from 'Results_TA363.xlsx' ###############

# Load the Excel file
file6 ='/home/vant/TFM/Raw counts (no scores)/Results_TA363.xlsx'
# Read sheets 3 and 5
sheet_work= pd.read_excel(file6, sheet_name=4)  # 5th sheet (index 4)

# Select columns of interest
df_filtered3= sheet_work[['Sample', 'Count_ep', 'Count_tu']].copy() 

# Eliminate spaces 
df_filtered3['Sample'] = df_filtered3['Sample'].str.strip()
 
# Convert 'Count_ep' and 'Count_tu' to numeric and manage no numeric values
df_filtered3.loc[:, 'Count_ep'] = pd.to_numeric(df_filtered3['Count_ep'], errors='coerce')  # Usar .loc
df_filtered3.loc[:, 'Count_tu'] = pd.to_numeric(df_filtered3['Count_tu'], errors='coerce')  # Usar .loc

# Group by 'Sample' and get the maximum values of 'Count_ep' and 'Count_tu' (including 9)
df_final4 = df_filtered3.groupby('Sample').agg({
    'Count_ep': 'max',  # Calculate the maximum, including the value 9
    'Count_tu': 'max'   # Same for 'Count_tu'
}).reset_index()

# Filter rows
df_final4_filtered = df_final4[~df_final4['Sample'].str.startswith('Final')]
# Show
print(df_final4_filtered)

    Sample Count_ep Count_tu
0   09T237      5.0     27.0
1  11T82-2      0.0      8.0

In [11]:
########### RVB samples ################

# Load the Excel file
file7 ='/home/vant/TFM/Raw counts (no scores)/Results_RVB.xlsx'
# Read sheets 3 and 5
sheet_work2= pd.read_excel(file7, sheet_name=5)  # 5th sheet (index 4)

# Select columns of interest
df_filtered4= sheet_work2[['Sample', 'Count_ep', 'Count_tu']].copy() 

# Eliminate spaces 
df_filtered4['Sample'] = df_filtered4['Sample'].str.strip()
 
# Convert 'Count_ep' and 'Count_tu' to numeric and manage no numeric values
df_filtered4.loc[:, 'Count_ep'] = pd.to_numeric(df_filtered4['Count_ep'], errors='coerce')  # Usar .loc
df_filtered4.loc[:, 'Count_tu'] = pd.to_numeric(df_filtered4['Count_tu'], errors='coerce')  # Usar .loc

# Group by 'Sample' and get the maximum values of 'Count_ep' and 'Count_tu' (including 9)
df_final5 = df_filtered4.groupby('Sample').agg({
    'Count_ep': 'max',  # Calculate the maximum, including the value 9
    'Count_tu': 'max'   # Same for 'Count_tu'
}).reset_index()

# Show
print(df_final5)

  Sample  Count_ep  Count_tu
0   RVB1        48        83
1   RVB2        30        37
2   RVB3        46        72
3   RVB4         8        58
4   RVB5         7        21
5   RVB6         2        31

In [12]:
# Create a list with dataframes to later unify them
dataframes = [df_final_cleaned, df_final_filtered, df_final1_filtered, df_final2_filtered, df_final3, df_final4_filtered, df_final5]
# Create a list 
dfs = []

# Proccess every DataFrame
for df in dataframes:
    # Select columns of interest
    if 'Sample' in df.columns and 'Count_ep' in df.columns and 'Count_tu' in df.columns:
        # Seleccionar solo las columnas de inter√©s
        dfs.append(df[['Sample', 'Count_ep', 'Count_tu']])

# Concatenate dataframes in only one
df_combined = pd.concat(dfs, ignore_index=True)
df_combined.shape

(211, 3)

In [13]:
# Eliminate rows in which both columns 'Count_ep' and 'Count_tu' are NaN
df_cleaned = df_combined.dropna(subset=['Count_ep', 'Count_tu'], how='all')

# Convert 'Count_ep' and 'Count_tu' columns to numeric using .loc and.tonumeric
df_cleaned.loc[:, 'Count_ep'] = pd.to_numeric(df_cleaned['Count_ep'], errors='coerce')
df_cleaned.loc[:, 'Count_tu'] = pd.to_numeric(df_cleaned['Count_tu'], errors='coerce')

# Show the cleaned dataframe
print(df_cleaned)

print("Longitud del dataframe final es:", len (df_cleaned))

# Save
df_cleaned.to_excel('/home/vant/TFM/Final_db/TILs_raw_counts_final.xlsx', index=False)

       Sample Count_ep Count_tu
0    03B07829      0.0      2.0
1    07B23784      0.0      9.0
2    10B36563      1.0      9.0
3    11B23809      4.0      5.0
4     11B5978      1.0     47.0
..        ...      ...      ...
206      RVB2     30.0     37.0
207      RVB3     46.0     72.0
208      RVB4      8.0     58.0
209      RVB5      7.0     21.0
210      RVB6      2.0     31.0

[204 rows x 3 columns]
Longitud del dataframe final es: 204

In [14]:
# Read genomic + TILs scores database (Noelia Database complete.ods)
df_genomic = pd.read_excel('/home/vant/TFM/Noelia Database complete.ods', engine='odf')
df_genomic.columns = df_genomic.columns.str.strip()

# Read the Excel file (TILs_raw_counts_final.xlsx)
df_tils = pd.read_excel('/home/vant/TFM/Final_db/TILs_raw_counts_final.xlsx')

# Rename columns in df_tils to match df_genomic and for clarity
df_tils.rename(columns={'Sample': 'ID_CNIO', 'Count_ep': 'TILs_raw_ep', 'Count_tu': 'TILs_raw_tu'}, inplace=True)

# Merge the two DataFrames based on 'ID_CNIO' (outer join to keep all rows from df_genomic)
df_final = pd.merge(df_genomic, df_tils[['ID_CNIO', 'TILs_raw_ep', 'TILs_raw_tu']], on='ID_CNIO', how='left')

# Define the new column 'TILs_CNIO_info' based on 'TILs_raw_ep' and 'TILs_raw_tu'
df_final['TILs_CNIO_info'] = df_final.apply(
    lambda row: 'YES_complete' if pd.notna(row['TILs_raw_ep']) and pd.notna(row['TILs_raw_tu']) else
                'YES_only_ep' if pd.notna(row['TILs_raw_ep']) and pd.isna(row['TILs_raw_tu']) else
                'YES_only_tu' if pd.isna(row['TILs_raw_ep']) and pd.notna(row['TILs_raw_tu']) else
                'NO',
    axis=1
)

# Reorder columns to place 'TILs_CNIO_info' right after 'TILs_info'
cols = df_final.columns.tolist()
idx = cols.index('TILs counts') + 1  # Find the index of 'TILs_info'
# Insert 'TILs_CNIO_info' right after 'TILs_info'
cols.insert(idx, cols.pop(cols.index('TILs_CNIO_info')))
df_final = df_final[cols]

# Display the final DataFrame with the new column
print(df_final)

# Optionally, save the final DataFrame to an Excel file
df_final.to_excel('/home/vant/TFM/Final_db/Genomic_tils_final_database.xlsx', index=False)

    ID_CNIO AP number          HIST   IHC IHC pattern IHC_MMR_class  \
0       LP1  02B28662             E    NO          NO          MMRp
1       LP2  08B18876             E    NO          NO          MMRp
2       LP3   08B260A             E    NO          NO          MMRp
3       LP4  11B18858             E    NO          NO          MMRp
4       LP5   99B6752             E    NO          NO          MMRp
..      ...       ...           ...   ...         ...           ...
230    RVB3     28403  E+CC (mixto)  MLH1    Standard          MMRd
231    RVB4     28404        Serous  MSH6    Standard          MMRd
232    RVB5     28405            CC   NaN         NaN           NaN
233    RVB6     28406             E  MSH6    Standard          MMRd
234    RVB7     28407             E  MSH2    Standard          MMRd

     MSI (PCR)  Evidence score for MMRd IHC (Diego) PCR (Diego)  ...  \
0          MSS                      NaN          NO         MSS  ...
1          MSS                      NaN          NO         MSS  ...
2          MSS                      NaN          NO         MSS  ...
3          MSS                      NaN          NO         MSS  ...
4          MSS                      NaN          NO         MSS  ...
..         ...                      ...         ...         ...  ...
230   MSI-High                      1.0        MLH1    MSI-High  ...
231  MSI-High?                      2.0         NaN         NaN  ...
232   MSI-High                      2.0         NaN    MSI-High  ...
233        NaN                      2.0        MSH6         NaN  ...
234   MSI-High                      1.0         NaN    MSI-High  ...

    Non-MMRd mutation (Diego) TILs counts TILs_CNIO_info TILs_ep_CNIO  \
0                          NO         YES   YES_complete          1.0
1                          NO         YES   YES_complete          2.0
2                          NO         YES   YES_complete          3.0
3                          NO         YES   YES_complete          2.0
4                          NO         YES             NO          NaN
..                        ...         ...            ...          ...
230                        NO         YES   YES_complete          3.0
231                       NaN         YES   YES_complete          2.0
232                      MSH3         YES   YES_complete          2.0
233                        NO         YES   YES_complete          1.0
234                      MSH3          NO             NO          NaN

     TILs_ep_LP  TILs_ep_OTTA  TILs_tu_CNIO  TILs_tu_LP  TILs_raw_ep  \
0           9.0           9.0           2.0         2.0          2.0
1           0.0           0.0           2.0         0.0          4.0
2           3.0           1.0           3.0         3.0         56.0
3           3.0           2.0           2.0         3.0          5.0
4           1.0           0.0           NaN         1.0          NaN
..          ...           ...           ...         ...          ...
230         NaN           NaN           3.0         NaN         46.0
231         NaN           NaN           3.0         NaN          8.0
232         NaN           NaN           3.0         NaN          7.0
233         NaN           NaN           3.0         NaN          2.0
234         NaN           NaN           NaN         NaN          NaN

     TILs_raw_tu
0            6.0
1            7.0
2           78.0
3           15.0
4            NaN
..           ...
230         72.0
231         58.0
232         21.0
233         31.0
234          NaN

[235 rows x 33 columns]